* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main-heading {
  text-align: center;
}

.menu-container {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.menu {
  margin-right: 2rem;
  width: 20vw;
}

.dropdown {
  width: 100%;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
