* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Home styles start */

.main-heading {
  text-align: center;
}

.menu-container {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.time-container {
  text-align: center;
}

/* Home styles end */


/* DestinationForm styles start  */

.menu {
  margin-right: 2rem;
  width: 20vw;
}

.dropdown {
  width: 100%;
  margin-bottom: 2rem;
}

/* DestinationForm styles end  */


/* Result styles start */
.image-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.message-container {
  text-align: center;
}

.green {
  background-color: #0BB631 !important;
}

.btn {
  text-decoration: none;
  color: white;
}

/* Result styles end */