* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.main-heading {
  text-align: center;
}

.menu-container {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.menu {
  margin-right: 2rem;
  width: 20vw;
}

.dropdown {
  width: 100%;
}